
.wepon{
  width:550px;
  margin-left: auto;
  margin-right: auto;
}
.wepon table{
  border: solid 1px #80808038;
  width: 550px;
  font-size: 1.0em;
}
.wepon tr:not(:first-child) td,th{
  border-top: solid 1px #80808038;
}
.wepon td:not(.image){
  border-left: solid 1px #80808038;
  width:200px;
}
.wepon td img{
  height: 30px;
  vertical-align: middle;
}
.wepon .image{
  width: 100px;
  height:100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.wepon .describe,.wepon .rank_describe{
  border: solid 1px #80808038;
  border-top: 0px;
  min-height: 100px;
}