:root {
  --panel-UR-color-o: #fa87a4e8;
  --panel-SSR-color-o: #f8d5a6e8;
  --panel-SR-color-o: #f198fde8;
  --panel-R-color-o: #7dc2fae8;
  --panel-N-color-o: #a4fc98e8;
  --border-color: #80808038;
  --table-border: solid 1px #80808038;
  --pilot-tab-color:#d8daee;
}

#pilotpanel_template{
  display: none;
}

#pilotarea{
  position: relative;
  padding: 5px;
  border: solid 1px #80808038;
  border-radius: 10px;
  top: -3px;
  background-color: var(--pilot-tab-color);
  text-align: left;
  width: 540px;
  margin-left: auto;
  margin-right: auto;
}

#content_area{
  text-align: center;
}

.pilotpanel{
  display: inline-block;
  position: relative;
  width: 100px;
  height: calc(1.5em + 100px);
  color: initial;
  border: solid 1px #80808038;
  border-radius: 10px;
  margin-left: 2px;
  margin-right: 2px;
  background-image: radial-gradient(#00000000, var(--panel-R-color-o));
  transform-origin: center;
}
.pilotpanel:hover{
  transform: scale(1.2);
  z-index: 20;
}

.pilotpanel[data-rare="UR"]{
  background-image: radial-gradient(#00000000, var(--panel-UR-color-o));
}
.pilotpanel[data-rare="SSR"]{
  background-image: radial-gradient(#00000000, var(--panel-SSR-color-o));
}
.pilotpanel[data-rare="SR"]{
  background-image: radial-gradient(#00000000, var(--panel-SR-color-o));
}
.pilotpanel[data-rare="R"]{
  background-image: radial-gradient(#00000000, var(--panel-R-color-o));
}
.pilotpanel[data-rare="N"]{
  background-image: radial-gradient(#00000000, var(--panel-N-color-o));
}
.pilotpanel .pilotface{
  width: 100px;
  height: 100px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.pilotpanel .pilotface > div{
  width: 100%;
  height: 100%;
  background-size: auto 25px;
  background-position: left bottom;
  background-repeat: no-repeat;
  background-image: url(アイコン/UR.webp);
}
.pilotpanel[data-rare="UR"] .pilotface > div{
  background-image: url(アイコン/UR.webp);
}
.pilotpanel[data-rare="SSR"] .pilotface > div{
  background-image: url(アイコン/SSR.webp);
}
.pilotpanel[data-rare="SR"] .pilotface > div{
  background-image: url(アイコン/SR.webp);
}
.pilotpanel[data-rare="R"] .pilotface > div{
  background-image: url(アイコン/R.webp);
}
.pilotpanel[data-rare="N"] .pilotface > div{
  background-image: url(アイコン/N.webp);
}

/*------------ タブ -----------------*/
#content_area input{
  display: none;
}

.select_tab{
  display: inline-block;
  font-size: 16px;
  padding: .5em 1.0em .2em .8em;
  position: relative;
  z-index: 1;
}
.select_tab::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transform: scaleY(0.8) perspective(0.6em) rotateX(4deg);
  border-radius: 12px 12px 0 0;
  border-left: var(--table-border);
  border-top:  var(--table-border);
  border-right: var(--table-border);
  background: linear-gradient(#9198e5, #fafcfd, #9198e5);
  background: linear-gradient(var(--pilot-tab-color), #fafcfd, var(--pilot-tab-color));
  background-color: var(--pilot-tab-color);
}
.select_tab > span:before{
  display: inline-block;
  content: "　";
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: radial-gradient(#00000000, var(--panel-R-color-o));
}
.select_tab[for="wep守護"] > span:before {
  background-image: url(./アイコン/片手武器.webp);
}
.select_tab[for="wep格闘"] > span:before {
  background-image: url(./アイコン/強襲.webp);
}
.select_tab[for="wep射撃"] > span:before {
  background-image: url(./アイコン/マシンガン.webp);
}
.select_tab[for="wep炸裂"] > span:before {
  background-image: url(./アイコン/炸裂.webp);
}
.select_tab[for="wep狙撃"] > span:before {
  background-image: url(./アイコン/狙撃.webp);
}
.select_tab[for="wep投射"] > span:before {
  background-image: url(./アイコン/投射.webp);
}
.tabview{
  margin-left: 0px;
}

#wep守護:checked ~ .tabview label:not([for="wep守護"])
,#wep格闘:checked ~ .tabview label:not([for="wep格闘"])
,#wep射撃:checked ~ .tabview label:not([for="wep射撃"])
,#wep炸裂:checked ~ .tabview label:not([for="wep炸裂"])
,#wep狙撃:checked ~ .tabview label:not([for="wep狙撃"])
,#wep投射:checked ~ .tabview label:not([for="wep投射"])
{
  filter: grayscale(80%);
  color: lightgray;
  z-index: 0;
}

#wep守護:checked ~ #pilotarea .pilotpanel:not([data-class="守護"])
,#wep格闘:checked ~ #pilotarea .pilotpanel:not([data-class="格闘"])
,#wep射撃:checked ~ #pilotarea .pilotpanel:not([data-class="射撃"])
,#wep炸裂:checked ~ #pilotarea .pilotpanel:not([data-class="炸裂"])
,#wep狙撃:checked ~ #pilotarea .pilotpanel:not([data-class="狙撃"])
,#wep投射:checked ~ #pilotarea .pilotpanel:not([data-class="投射"])
{
  display: none;
}

.tabview label:hover{
  filter: sepia(100%)  !important;
}

.loopmsg > span > span{
  animation-name: message-loop-100px;
}
@keyframes message-loop-100px {
  0% {left: 0px;}
  10% {left: 0px;}
  85% {left: min( calc(100px - 100%) , 0px );}
  95% {left: min( calc(100px - 100%) , 0px );}
  100% {left: 0px;}
}
