:root {
  --panel-UR-color-o: #fa87a4e8;
  --panel-SSR-color-o: #f8d5a6e8;
  --panel-SR-color-o: #f198fde8;
  --panel-R-color-o: #7dc2fae8;
  --panel-N-color-o: #a4fc98e8;
  --border-color: #80808038;
  --table-border: solid 1px #80808038;
}

#pilotpanel_template{
  display: none;
}

#pilotarea{
  margin-left: auto;
  margin-right: auto;
  width: 530px;
}

.pilotpanel{
  display: inline-block;
  position: relative;
  width: 100px;
  height: calc(1.5em + 100px);
  color: initial;
  border: solid 1px #80808038;
  border-radius: 10px;
  margin-left: 2px;
  margin-right: 2px;
  background-image: radial-gradient(#00000000, var(--panel-R-color-o));
  transform-origin: center;
}
.pilotpanel:hover{
  transform: scale(1.2);
  z-index: 20;
}

.pilotpanel[data-rare="UR"]{
  background-image: radial-gradient(#00000000, var(--panel-UR-color-o));
}
.pilotpanel[data-rare="SSR"]{
  background-image: radial-gradient(#00000000, var(--panel-SSR-color-o));
}
.pilotpanel[data-rare="SR"]{
  background-image: radial-gradient(#00000000, var(--panel-SR-color-o));
}
.pilotpanel[data-rare="R"]{
  background-image: radial-gradient(#00000000, var(--panel-R-color-o));
}
.pilotpanel[data-rare="N"]{
  background-image: radial-gradient(#00000000, var(--panel-N-color-o));
}
.pilotpanel .pilotface{
  width: 100px;
  height: 100px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.pilotpanel .pilotface > div{
  width: 100%;
  height: 100%;
  background-size: auto 25px;
  background-position: left bottom;
  background-repeat: no-repeat;
  background-image: url(レア/UR.webp);
}
.pilotpanel[data-rare="UR"] .pilotface > div{
  background-image: url(レア/UR.webp);
}
.pilotpanel[data-rare="SSR"] .pilotface > div{
  background-image: url(レア/SSR.webp);
}
.pilotpanel[data-rare="SR"] .pilotface > div{
  background-image: url(レア/SR.webp);
}
.pilotpanel[data-rare="R"] .pilotface > div{
  background-image: url(レア/R.webp);
}
.pilotpanel[data-rare="N"] .pilotface > div{
  background-image: url(レア/N.webp);
}

/*------------ タブ -----------------*/
#content_area input{
  display: none;
}

.select_tab{
  display: inline-block;
  position: relative;
  width: 95px;
  height: 30px;
  z-index: 1;
}
.select_tab tr{
  opacity: 1.0;
}
.select_tab td{
  padding: 0px;
  background-color: #bcb2f1;
  background: linear-gradient(#9198e5, #fafcfd, #9198e5);
}
.select_tab td:nth-child(1){
  position: absolute;
  display: inline-block;
  width: 30px;
  height: 30px;
  transform: skew(-20deg);
  border-top-left-radius: 10px;
  left: -5px;
  border-left: var(--table-border);
  border-top:  var(--table-border);
}
.select_tab td:nth-child(2){
  display: inline-table;
  position: absolute;
  width: 60px;
  height: 30px;
  left: 15px;
  text-align: center;
  vertical-align:bottom;
  border-top:  var(--table-border);
}
.select_tab td:nth-child(2)  span {
  display: inline-block;
  position: relative;
}
.select_tab > span {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  white-space: nowrap;
  top: 5px;
  left: 10px;
}
.select_tab > span:before {
  display: inline-block;
  content: "　";
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: radial-gradient(#00000000, var(--panel-R-color-o));
}
.select_tab[for="wep守護"] > span:before {
  background-image: url(./タイプ/片手武器.webp);
}
.select_tab[for="wep格闘"] > span:before {
  background-image: url(./タイプ/強襲.webp);
}
.select_tab[for="wep射撃"] > span:before {
  background-image: url(./タイプ/マシンガン.webp);
}
.select_tab[for="wep炸裂"] > span:before {
  background-image: url(./タイプ/炸裂.webp);
}
.select_tab[for="wep狙撃"] > span:before {
  background-image: url(./タイプ/狙撃.webp);
}
.select_tab[for="wep投射"] > span:before {
  background-image: url(./タイプ/投射.webp);
}
.select_tab td:nth-child(3){
  position: absolute;
  display: inline-block;
  width: 30px;
  height: 30px;
  left: 65px;
  transform: skew(20deg);
  border-top-right-radius: 10px;
  border-right: var(--table-border);
  border-top:  var(--table-border);
}

.tabview{
  transform: scale(0.9);
  transform-origin: left bottom;
  width: 600px;
  margin-left: 15px;
}

#wep守護:checked ~ .tabview label:not([for="wep守護"]){
  filter: grayscale(80%);
  z-index: 0;
}
#wep守護:checked ~ #pilotarea .pilotpanel:not([data-class="守護"]){
  display: none;
}
#wep格闘:checked ~ .tabview label:not([for="wep格闘"]){
  filter: grayscale(80%);
  z-index: 0;
}
#wep格闘:checked ~ #pilotarea .pilotpanel:not([data-class="格闘"]){
  display: none;
}
#wep射撃:checked ~ .tabview label:not([for="wep射撃"]){
  filter: grayscale(80%);
  z-index: 0;
}
#wep射撃:checked ~ #pilotarea .pilotpanel:not([data-class="射撃"]){
  display: none;
}
#wep炸裂:checked ~ .tabview label:not([for="wep炸裂"]){
  filter: grayscale(80%);
  z-index: 0;
}
#wep炸裂:checked ~ #pilotarea .pilotpanel:not([data-class="炸裂"]){
  display: none;
}
#wep狙撃:checked ~ .tabview label:not([for="wep狙撃"]){
  filter: grayscale(80%);
  z-index: 0;
}
#wep狙撃:checked ~ #pilotarea .pilotpanel:not([data-class="狙撃"]){
  display: none;
}
#wep投射:checked ~ .tabview label:not([for="wep投射"]){
  filter: grayscale(80%);
  z-index: 0;
}
#wep投射:checked ~ #pilotarea .pilotpanel:not([data-class="投射"]){
  display: none;
}

/*------------ らじおぼたん -----------------*/

.selectradio {
  filter: grayscale(60%);
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-decoration: none;
  color: #604bd7;
  font-size: 18px;
  border-radius: 20px;
  width: 200px;
  height: 40px;
  font-weight: bold;
  transition: 0.3s;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 1);
  background-image: radial-gradient(at 25% 27%, rgba(214, 227, 254, 1), rgba(199, 213, 244, 1) 0%, rgba(72, 140, 218, 1));
}

.selectradio:hover {
  box-shadow: 0 0 rgba(0, 0, 0, 0);
}

.loopmsg > span > span{
  animation-name: message-loop-100px;
}
@keyframes message-loop-100px {
  0% {left: 0px;}
  10% {left: 0px;}
  85% {left: min( calc(100px - 100%) , 0px );}
  95% {left: min( calc(100px - 100%) , 0px );}
  100% {left: 0px;}
}
