:root {
  --border-color: #80808038;
  --table-border: solid 1px #80808038;
}
#pilotpanel_template{
  display: none;
}

.pilotpanel{
  display: inline-block;
  position: relative;
  width: 100px;
  color: initial;
  border: solid 1px #80808038;
  border-radius: 10px;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 10px;
  background-image: radial-gradient(#00000000, #81a9cc);
  transform-origin: center;
  transition: 0.3s;
  text-decoration: none;
}
.pilotpanel:hover{
  transform: scale(1.2);
  z-index: 2000;
}

.pilotpanel .rank{
  display: flex;
  white-space:nowrap;
}
.pilotpanel .rank span:nth-child(2){
  flex: auto;
  font-weight: bold;
  text-align: right;
}

.pilotpanel .pilotface{
  position: relative;
  width: 100px;
  height: 150px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.pilotpanel .pilotface>div{
  position: absolute;
  width: 200px;
  height: 200px;
  bottom: -5px;
  left: -50%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
}

.pilotpanel .loopmsg > span > span{
  animation-name: message-loop-100px;
  font-size: 0.8em;
}
@keyframes message-loop-100px {
  0% {left: 0px;}
  10% {left: 0px;}
  85% {left: min( calc(100px - 100%) , 0px );}
  95% {left: min( calc(100px - 100%) , 0px );}
  100% {left: 0px;}
}
